*.tar.gz
qedsac-*[0-9][a-z]*
*-old
*.old
*-orig
*.orig
*.bak
*.sav
Makefile
aclocal.m4
autogen.sh
autom4te.cache
config.h
config.h.in~
config.log
config.status
configure~
configure.ac~
welcome.txt
testers.txt
